body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;

}

form {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: double;
  cursor: pointer;

}

button:hover {
  background-color: #45a049;
}

div {
  border: dotted;
}
